.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  text-align: center;
  width: 100%;
  min-height: 300px;

  .loader-message {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: var(--theme-form-panel-text);
  }

  ::ng-deep mat-spinner circle {
    stroke: var(--theme-spinner-color) !important;
  }
}
